body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    width: 100%;
    text-align: center;
}

img{
    max-width: 20%;
    border-radius: 15px;
}

h1{
    text-decoration: underline;
    text-decoration-color: purple;
    text-align: center;
}